<html>
  <head></head>
  <body>
    <h1>Caesar Cipher</h1>

    <form action="/ciphered_code_page">
      Please enter the code you would like converted to Caesar Cipher.<br><br>
      <input type="text" name="unciphered_code">
      <br><br>
      Please enter the shift factor to convert code to Caesar Cipher.<br><br>
      <input type="number" name="shift_factor">
      <br><br>
      <input type="submit" value="Convert to Caesar Cipher">
    </form>
  </body>
</html>
